.container-navbar{

}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.logo-navbar{
    margin-right: 5%;
    margin-left: 15%;
}
.menu{
    margin-left: 5%;
}
.search{
    margin-right: 5%;
}


